body {
background-color: white;
font-family: 'Avenir', sans-serif;
}
nav {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  z-index: 1;
}
nav ul li {
  float: right;
  margin-right: 50px;
  list-style-type: none;
  text-align: center;
}
#brand {
float: left
}
.nav-link{
  color: #FC41CC;
  text-decoration: none;
  font-family: 'Avenir Bold', sans-serif;
}
.nav-link:hover {
  color: black;
  font-weight: thin;
}
#brand .nav-link {
color: #FC41CC;
font-size: 14pt;
}
#brand .nav-link:hover {
  color: black;
  font-weight: bold;
}
h1{
  font-size: 80pt;
  color: #FC41CC;
  font-family: 'Avenir', sans-serif;
}
h3{
  font-size: 20pt;
  color:#ffffff;
  font-family: 'Avenir', sans-serif;}
#home {
  margin-top: 50px;
  position: relative;
  left: -8px;
  width: 100vw;
  height: 100vh;
  padding-top: 3em;
  background: url(assets/pexels-miguel-á-padriñán-1111314.jpg) center 75% no-repeat fixed;
  background-size: cover;

}
.header-tag {
  text-align: right;
  color: #ffffff;
}
h3.header-tag {
  margin-top: -40px;
  font-size: 18pt;
  margin-left: 45vw;
  font-weight: lighter;
}
h2{
  font-family: 'Avenir' sans-serif;
  color: black;
  margin-left: 50px;
}
.main{
  margin-top: 50px;
  float: right;
}
#about {
  margin-top: 25px;
  margin-left: 50px;
  display: inline-block;
}
#about-picture {
  width: 30vw;
  float: right;
}
#profile-pic {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid white;
}
#about-content {
  margin-right: 50px;
}
p{
  margin-left: 50px;
  margin-right: 60vw;
}
#portfolio-works {
  width: 60vw;
  margin-left: 50px;
  }
